* {margin: 0;
padding: 0;}

.navbar{ 
    display: flex;
    background-color: rgb(78, 74, 74);
   
}
.navbar p { 
display:flexbox;
font-size: 2.4em;
padding-left: 540px;
padding-bottom: 4px;
color: blueviolet;
}

.navlist  {display: flex;
}
.navlist a {
    display: block;
    padding: 1em;
    text-decoration: none;
    color: white;
} 
.navlist a:hover {
    background-color: rgb(100, 100, 100);
}
.navbt{ 
    font-size: 2em;
    padding-inline: 10px;
    padding-bottom: 3px;
    border: none;
    background-color:rgb(78, 74, 74) ;
    color: white;
    cursor: pointer;
    
}

.navbt:hover {
    background-color: rgb(100, 100, 100);
}

@media {
    .navlist {display: none;}
    .drop:hover .navlist { display: block;
        position: absolute;
        background-color:rgb(78, 74, 74) ;}
}

